@import "./../variable.scss";

.Filter {
  width: 100%;
  height: 100%;
  background-color: $bg-light;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: transparent;

  .filter-container {
    display: flex;
    flex-direction: row;
    .sub-header-container {
      display: none;
    }
  }

  .filter-item-container {
    background: $bg-white;
    width: 60%;
  }

  .left-overlay {
    width: 40%;
    height: 100vh;
    opacity: 0.3;
    background-color: black;
  }

  .header-container {
    display: flex;
    width: 100%;

    .header {
      width: 70%;
      padding: $padding-4 $padding-4;
      align-self: center;
    }
    .button-container {
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }
    .close-button {
      //padding: $padding-4 $padding-4;
      //margin: $margin-2;
      background-color: $bg-light;
      color: $color-white;
      font-size: $font-size-4;
    }
  }

  .filter-item {
    background-color: $bg-light;
    border: $border-dark;
    padding: $padding-2 0;
  }
}
