@import "./../variable.scss";

.ChipBar {
  display: flex;
  overflow-x: scroll;
  padding: 0 300px 0 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  .chip-container {
    padding: 8px 16px 8px 0;
    .MuiChip-root {
      background-color: $bg-white;
      color: $bg-gray;
      font-size: 14px;
    }

    &-selected {
      padding: 8px 16px 8px 0;
      .MuiChip-root {
        background-color: $bg-primary;
        color: $bg-white;
        font-size: 14px;
      }
    }
  }
}
