@import "./../variable.scss";
.Loader {
  // display: flex;
  // justify-content: center;
  &.loader-container {
    position: sticky;
    z-index: 100;
    // align-items: center;
    // justify-content: center;
    display: flex;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .spinner-container {
    background: $bg-white;
    position: relative;
    left: calc(50% - 34px);
    top: calc(30vh - 34px);
    &.top {
      top: calc(30vh - 34px);
    }
    &.center {
      top: calc(50vh - 34px);
    }
    &.bottom {
      top: calc(70vh - 34px);
    }
  }

  @keyframes ldio-8vbapn2qcl5 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .tab {
    .ldio-8vbapn2qcl5 div {
      position: absolute;
      animation: ldio-8vbapn2qcl5 1s linear infinite;
      width: 160px;
      height: 160px;
      top: 20px;
      left: 20px;
      border-radius: 50%;
      box-shadow: 0 4px 0 0 #00c6b6;
      transform-origin: 80px 82px;
    }
    .loadingio-spinner-eclipse {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      background: none;
    }

    .ldio-8vbapn2qcl5 {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-8vbapn2qcl5 div {
      box-sizing: content-box;
    }
  }

  // .phone {
  .ldio-8vbapn2qcl5 div {
    position: absolute;
    animation: ldio-8vbapn2qcl5 1s linear infinite;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #00c6b6;
    transform-origin: 20px 20.5px;
  }
  .loadingio-spinner-eclipse {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }

  .ldio-8vbapn2qcl5 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-8vbapn2qcl5 div {
    box-sizing: content-box;
  }
  // }
}
