@import "../variable.scss";
.MenuItem {
  margin: 12px;
  display: flex;
  padding: 24px 0 0 0;
  flex-direction: row;
  flex-flow: wrap;
  //width: 100%;
  padding: 24px;
  .menu-item-container {
    .menu-item {
      background-color: #00c6b6;
      font-size: 26px;
      //border-radius: 10%;
      font-weight: bold;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 120px;
      min-height: 50px;
      min-width: 200px;
      box-shadow: 0px 8px 24px 0px #afa8a8;
      //background-image: linear-gradient(#00c6b6, #ffdc31);
      cursor: pointer;
      &.large {
        //border-radius: 10%;
      }

      .header {
        padding: 20px;
        word-wrap: break-word;
        text-align: center;
      }
    }
  }
}
