@import "./../variable.scss";

.ChipItem {
  display: flex;
  .chip-item-container {
    height: 29px; // Please keep this odd to align text in center
    margin-left: 8px;
    font-weight: 700;
    &.primary {
      .MuiChip-root {
        background-color: white;
        border: $border-primary;
        color: $color-primary;
      }
    }

    &.white {
      .MuiChip-root {
        background-color: white;
        border: 1px solid black;
        color: black;
      }
    }
    &.yellow {
      .MuiChip-root {
        background-color: #ffea00;
        border: 1px solid #616161;
        color: #616161;
      }
    }
    &.green {
      .MuiChip-root {
        background-color: #00a152;
        border: 1px solid #1b5e20;
        color: white;
      }
    }
    &.gray {
      .MuiChip-root {
        background-color: #bdbdbd;
        border: 1px solid black;
        color: #616161;
      }
    }
  }
}
