@import "./../variable.scss";
.CheckList {
  .header-container {
    font-size: $font-size-4;
    color: $color-black;
    padding: $padding-5 0 $padding-2 $padding-3;
    font-weight: 700;
  }
  .sub-header-container {
    font-size: $font-size-3;
    color: $color-secondary;
    padding: 0 0 $padding-3 $padding-3;
  }

  .list-container {
    background-color: $bg-white;
    // border-top: $border-light;
    // border-bottom: $border-light;

    .CheckListItem:last-child {
      .item-container {
        border-bottom: none;
      }
    }

    .item-container {
      display: flex;
      margin: 0 12px;
      border-bottom: $border-light;

      .label-container {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        //border-top: $border-light;
      }
      .input-container {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cost-container {
        display: flex;
        min-width: 40px;
        align-items: center;
        .cost {
          color: $bg-gray-4;
          font-size: 14px;
        }
      }
    }
  }
}
