@import "../components/variable.scss";

:root {
  --amplify-primary-color: #00c6b6;
  --amplify-primary-tint: #00c6b6;
  --amplify-primary-shade: #00c6b6;
  --amplify-border-radius: 8px;
  // --amplify-background-image: linear-gradient(#00c6b6, #ffdc31);
}
.Dashboard {
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;

  .header-container {
    height: 80px;
  }

  .content {
    height: calc(100% - 80px);

    display: flex;
    flex-direction: column;
    align-items: center;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }

  .PageHeader {
    background: transparent;
    &.hydrated {
      & .button {
        background: azure;
        //background-image: linear-gradient(#00c6b6, #ffdc31);
      }
    }

    .header {
      font-size: 36px;
    }
  }
  .title {
    font-size: 48px;
    //padding: 52px 0 72px 0;
    font-weight: bolder;
    // color: blueviolet;
    // text-shadow: 2px 1px 8px #00c6b6;
    &-container {
      text-align: center;
      justify-content: center;
      display: flex;
      color: $color-primary;
      border-radius: 10px;
      // border: 3.5px solid $bg-gray-2;
      width: fit-content;
      padding: 24px 24px;
      margin-top: 24px;
      margin: 16px;
    }
  }
  .action-container {
    // height: calc(100vh - 132px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
  .payement-container {
    display: flex;
    padding-top: 36px;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
  }
  .kitchen-list-header {
    font-size: 22px;
    width: fit-content;
    color: $bg-gray-4;
    padding: 8px;
    border-radius: 4px;
    font-weight: 700;

    // background-image: linear-gradient(#00c6b6, #ffdc31);
    // border: 0.5px solid rgb(27, 226, 233);
  }
  .kitchen-list-container {
    border: 2px solid $color-primary;
    border-radius: 10px;
    margin: 16px;
  }
  .kitchen-item-container {
    display: flex;

    flex-direction: row;
    flex-flow: wrap;

    justify-content: center;
  }
  .bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    opacity: 0.9;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    //background-color: rgba(255, 0, 0, 0.4);
  }
}
