@import "../components/variable.scss";
.FoodMenuPage {
  height: 100%;
  .search-container {
    display: flex;
    flex-basis: 100%;
    background: $bg-white;
    padding: 0 $padding-4 $padding-3 $padding-4;
  }
  .quantity-tag-container {
    position: relative;
  }
  .fixed-header {
    width: 100%;
    //position: fixed;
    z-index: 1;
    box-shadow: $bottom-shadow;
  }

  .content {
    height: calc(100% - 204px);
  }
  .menu-list-container {
    height: 100%;
    .list-content {
      height: calc(100% - 56px);
    }
  }

  .loader-container {
    //padding-top: 200px;
  }
  .restaurant-header-container {
    font-size: $font-size-4;
    display: flex;
    flex-basis: 100%;
    background: $bg-white;
    padding: 0 $padding-3;

    .restaurant-header {
      width: 80%;
    }

    .language-container {
      margin-left: auto;
      padding: 20px;
      align-self: center;
    }
  }

  .action-button-container {
    //height: 60px;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;
    border-top: 1px solid $bg-gray-4;
  }
  .add-button-container {
    font-size: 24px;
    color: $bg-secondary;
    width: 100%;
    padding: 24px 24px 32px 24px;

    .MuiBadge-colorPrimary {
      background-color: $bg-white;
      color: $color-primary;
      font-size: 16px;
      font-weight: 800;
      border: 2px solid;
      padding: 10px 8px;
    }
  }

  .menu-status-filter {
    padding: 0px 12px 8px 12px;
    background: white;
    ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

#root,
#root > div {
  //background-color: rgb(238, 238, 240);
}
