@import "../components/variable.scss";
.FoodMenuAddPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
  .image-container {
  }

  .menu-description {
    font-size: 14px;
    color: $bg-gray-7;
    text-align: center;
    justify-content: center;
    padding: 16px;
    align-self: center;
  }

  .menu-info-container {
    //padding: 16px 0 16px 16px;
    background-color: $bg-white;
    flex-shrink: 0;
    text-align: center;
    box-shadow: $bottom-shadow;
    z-index: 3;
    .header-container {
      display: flex;
    }
    .header {
      display: flex;
      font-size: 20px;
      font-weight: 800;
      padding: 8px 0;
    }
  }
  .menu-action-container {
    flex-shrink: 0;
  }

  .menu-item-list-container {
    background-color: $bg-gray-1;
    padding: 0 0;
    border-bottom: $border-light;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
    background: white;
    height: calc(100% - 180px);
  }
  .image {
    padding: 0 $padding-2 0 0;
    width: 100%;
    height: 200px;
    &-container {
    }
  }
  .menu-quantity-container {
    padding: 12px 0 4px 0;
    display: flex;
    justify-content: center;
    background-color: $bg-white;
  }
  .button-container {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    background-color: $bg-white;

    & .big-button {
      font-size: 18px;
      padding: 12px;
    }
    & .full-width {
      width: 100%;
    }
  }
}
