@import "../components/variable.scss";
.KitchenOrderPage {
  .restaurant-header-container {
  }
  .toggle-header-container {
    display: flex;
    flex-direction: row;
    background: $bg-white;
  }
  .content {
    height: calc(100vh - 132px);
    background: white;
    position: relative;
  }
}
