@import "../components/variable.scss";

.Login {
  .login-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 16px;
    .email {
      padding: 16px;
    }
    .password {
      padding: 16px;
    }
    .submit-button {
      padding: 16px;
    }
  }
}
