@import "../components/variable.scss";
@page {
  size: auto;
  margin: 0mm;
}
.Receipt {
  overflow-y: scroll;
  padding: 16px;
  .normal-font {
    font-family: courier;
    font-size: 16px;
  }
  .big-font {
    font-family: courier;
    font-size: 18px;
    font-weight: bold;
  }
  .header {
    font-weight: bold;
    padding: 8px 0;
  }
  .border-bottom {
    border-bottom: 2px dashed black;
  }
  .border-top {
    border-top: 2px dashed black;
  }
  .receipt-container {
    .receipt-line-container {
      //padding: 8px 0;
      display: flex;
      .left {
      }

      .right {
        margin-left: auto;
        padding-left: 12px;
      }
    }
    .receipt-items-container {
      padding: 8px 0;
    }
    .receipt-item-container {
      display: flex;
      //flex-direction: column;
      .left {
      }
      .right {
        margin-left: auto;
        padding-left: 12px;
      }
    }
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
    }
  }
  .button-container {
    display: flex;
    padding: 32px;
    .left {
    }
    .right {
      margin-left: auto;
      padding-left: 12px;
    }
    .btn {
      font-size: 16px;
    }
  }
  .hide {
    display: none;
  }
}
