@import "../components/variable.scss";
.TableView {
  overflow: hidden;
  .toggle-header-container {
    display: flex;
    flex-direction: row;
    background: $bg-white;
  }

  .content {
    // height: calc(100vh - 132px);
    height: calc(100% - 124px);
    background: white;
    position: relative;
  }

  .FoodOrderList.scrollable {
  }

  .order-view-container {
    // padding: 16px 24px;
    .search-bar-container {
      padding: 12px 20px;
      background: $bg-white;
    }
    .order-status-filter {
      // padding-bottom: 24px;
      padding: 12px 20px;
      background: $bg-white;
    }
  }

  .dinning-table-view-container {
    padding: 24px;
    background: $bg-white;
    .table-list-container {
      display: flex;
      padding: 24px 0 0 0;
      flex-direction: row;
      flex-flow: wrap;
      width: 100%;
      .dinning-table-view {
        background-color: #00c6b6;
        font-size: 26px;
        font-weight: bold;
        color: white;
        align-items: center;
        justify-content: center;
        width: 10%;
        display: flex;
        height: 150px;
        min-width: 150px;
        flex-flow: wrap;
        margin-right: 16px;
        margin-top: 16px;
      }
    }
  }
}
