@import "../components/variable.scss";
.TableOrder {
  height: 100%;
  .content {
    // height: calc(100vh - 132px);
    height: calc(100% - 132px);
    background: white;
  }
  .FoodOrderList.scrollable {
    height: calc(100% - 56px);
  }

  .restaurant-header-container {
    display: flex;
  }
  .toggle-header-container {
    display: flex;
    flex-direction: row;
    background: $bg-white;
  }
  .food-order-list-container {
    height: 100%;
    position: relative;
  }
  .food-order-list-action-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 12px;
    box-shadow: $bottom-shadow;
    z-index: 1;
  }
  .food-order-list-container {
  }
}
