@import "../variable.scss";
.FoodOrderListContainer {
  height: 100%;
  .list-header {
    font-size: $font-size-4;
    color: $color-secondary;
    padding: $padding-6 0 $padding-3 $padding-3;
    font-weight: 700;
  }
}
