@import "../variable.scss";
.FoodOrderList {
  padding: $padding-3 $padding-5;
  background: $bg-white;

  &.scrollable {
    overflow: scroll;
    // It's better if parent set hieght for the list
    //height: calc(100vh - 132px);

    display: flex;
    flex-direction: column;
    .list-item-container {
      height: auto;
    }
  }

  & .FoodOrderListItem {
    & .list-item-container {
      border-bottom: $border-light;
    }
    &:last-child {
      padding-bottom: 32px;
      .list-item-container {
        border-bottom: 0;
      }
    }
  }
}
