@import "../variable.scss";
.FoodOrderListItem {
  .food-order-item-container {
    position: relative;
    margin: 16px 0;
    box-shadow: $box-shadow;
    &.selected {
      .food-order-item-selector-container {
        height: 42px;
      }
      border: 2px solid $color-primary;
      .SelectMark .check-mark {
        color: $color-white;
      }
      .selector-triangle {
        border-top: 42px solid $color-primary;
      }
    }
    &.unselected {
      .food-order-item-selector-container {
        height: 42px;
      }
      .selector-triangle {
        border-top: 42px solid $bg-gray-y-1;
      }
    }
  }
  .food-order-item-selector-container {
    //eight: 26px;
    .selector-tag-container {
      .selector-triangle {
        position: absolute;
        //background-color: $color-primary;
        // padding: 4px;
        width: 0;
        height: 0;
        border-right: 56px solid transparent;
      }

      .select-tag {
        position: absolute;
        padding: -2px 0 0 -28px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        top: 0px;
        left: -2px;
      }
    }
  }
}
