@import "./../variable.scss";
.PageHeader {
  background-color: $bg-white;
  display: flex;
  padding: 12px 0px;
  .btn.icon {
    font-size: 24px;
  }
  &:first-child {
    //padding-left: 16px;
  }
  .left {
    padding-left: 16px;
    z-index: 2;
    .btn.icon {
    }
  }

  .header {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    &.center {
      position: absolute;
      width: 100%;
      padding: 8px 0;
    }
  }
  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}
