@import "../../variable.scss";

.HistoryOrderListItem {
  display: flex;
  // height: 100%;
  width: 100%;
  background-color: $bg-white;
  //padding-top: 16px;

  .order-item-container {
    display: flex;
    height: 100%;
    width: 100%;
    //border-bottom: $border-light;
    padding: $padding-3 0;
    flex-direction: column;
    .MuiChip-root {
      height: 28px;
      background-color: white;
      border: $border-primary;
      color: $color-primary;
      margin-left: 8px;
    }
  }
  .list-item-container {
    display: flex;
    height: 100%;
    width: 100%;
    // padding: 16px;
    padding: 0 16px 16px 16px;
    //box-shadow: 0 8px 6px 2px #dcd9d9;
    // margin: 16px 0;

    &.edit {
      border: 1px solid $bg-primary;
    }
    &.select-mode {
      .button-container {
        display: none;
      }
      .edit-order-button {
        display: none;
      }
    }
    .order-item-contents {
      min-height: 52px;
      display: flex;
      align-items: center;
    }
  }
  .icon-button-container {
    display: flex;
    :last-child {
      padding-right: 0;
    }
  }

  .progress-step-container {
    //width: 100%;
    padding: 8px;
  }

  .order-item-add-buttton-container {
    .icon {
      padding: 8px 16px 0px 0;
    }
  }

  .h-container {
    display: flex;
    width: 100%;
    align-items: center;
    &.center {
      justify-content: center;
      align-self: center;
      justify-self: center;
    }
    .left {
    }
    &-right {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    .right {
      margin-left: auto;
      padding-left: 12px;
    }
    &.left {
      justify-content: left;
    }
  }
  .order-line {
    display: flex;
  }
  .menu-item-container {
    border-top: $border-light-1;
    border-bottom: $border-light-1;

    margin-top: 8px 0;
    color: rgb(29, 23, 23);
    .order-line-container .header {
      padding: 12px 0 12px 0;
    }
    .MuiChip-root {
      height: 28px;
      background-color: white;
      border: $border-primary;
      color: $color-primary;
      margin-left: 8px;
    }
  }
  .header {
    color: $color-gray;
    padding: 8px 0 8px 0;
    font-size: 14px;
  }
  span.header {
    color: $color-gray;
    padding: 8px 0 8px 0;
    font-size: 14px;
  }
  .detail {
    font-size: 14px;
    color: $color-black;
  }
  span.detail {
    font-size: 14px;
    color: $color-black;
    padding-left: 8px;
  }

  .button-container {
    padding: 12px 0 0 0;
  }
  .quantity-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: auto;
    padding-left: 8px;
    //margin: $margin-2;
    .rounded-btn {
      font-weight: 700;
      font-size: 14px;
      padding: 0px;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .quantity {
      justify-self: center;
      align-self: center;
      padding: 0 $padding-5;
    }
  }

  .header-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: $margin-2;
    flex-direction: column;
  }
  .v-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }

  .table {
    align-self: flex-end;
  }

  .btn {
    background-color: $bg-primary;
    border: none;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size-4;
    //margin: 2px;
    padding: $padding-2;
    cursor: pointer;
    border-radius: 6px;
  }

  .order-status-container {
    .order-status-top {
      width: 30px;
      border-top: 4px solid #00c6b6;
    }
    .order-status {
      padding: 12px 0 12px 0;
    }
  }
}
