@import "./../variable.scss";

.SearchBar {
  width: 100%;
  label {
    padding-left: 4px;
  }
  input {
    padding-left: 16px;
  }
  .MuiOutlinedInput-root {
    border-radius: 22px;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $bg-primary;
    border-width: 1px;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $bg-primary;
    border-width: 1px;
  }
  .MuiFormLabel-root.Mui-focused {
    color: $bg-primary;
  }
  .MuiInput-underline:after {
    border-color: $bg-primary;
  }
}
