@import "./../variable.scss";
.OrderProgressBar {
  width: 100%;
  .progress {
    width: 100%;
    background: $bg-gray-2;
  }
  .progress-bar {
    background-color: $color-primary;
    height: 3px;
    transition: 1s ease;
    transition-delay: 0.1s;
    width: 0;
  }
  .step-container {
    display: flex;
    position: relative;
    top: -36px;
    .circle {
      height: 16px;
      width: 16px;
      background-color: $bg-gray-2;
      border-radius: 50%;
      display: inline-block;
      &.selected {
        background-color: $color-primary;
      }
    }
    .step-label {
      padding: 8px 0;
    }
    .step {
      position: absolute;
      text-align: center;
      padding: 8px 0;
    }
  }
}
