@import "./../variable.scss";
.EmptyData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  .icon {
    font-size: 200px;
    opacity: 0.2;
    display: flex;
    justify-content: center;
  }
  .header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    padding: 16px;
  }
  .detail {
    display: flex;
    justify-content: center;
    padding: 16px;
    text-align: center;
  }
}
