@import "../variable.scss";

.ToggleHeaderItem {
  width: 100%;
  font-size: $font-size-5;
  text-align: center;
  .header-container {
    .header {
      padding: 16px 0 16px 16px;
      border-bottom: 4px solid $bg-secondary;
      color: $bg-secondary;
      span {
        z-index: 23;
      }
      .MuiBadge-colorPrimary {
        background-color: $bg-gray-3;
        color: $bg-white;
        font-size: 16px;
        font-weight: 800;
        border: 2px solid;
        padding: 10px 8px;
      }
      &.selected {
        border-bottom: 4px solid $bg-primary;
        color: $bg-primary;
        .MuiBadge-colorPrimary {
          background-color: $color-primary;
          color: $bg-white;
          font-size: 16px;
          font-weight: 800;
          border: 2px solid;
          padding: 10px 8px;
        }
      }
    }
  }
}
