@import "../components/variable.scss";
.FoodOrderHistoryPage {
  .page-header-container {
    box-shadow: 0 3px 6px -6px grey;
    z-index: 1;
  }
  .content {
    height: calc(100% - 52px);
    background: $bg-white;
  }
  .FoodOrderList.scrollable {
    height: calc(100% - 56px);
  }
  .FoodOrderList {
    padding: 12px 0px 12px 0;
  }
  .food-order-item-container {
    margin: 24px 0;
  }
  .food-order-list-container {
    height: 100%;
    position: relative;
  }
  .food-order-list-action-container {
    display: flex;
    padding: 8px 12px;
    box-shadow: $bottom-shadow;
    z-index: 1;
    margin-bottom: 2px;
    .icon {
      font-size: 14px;
    }
    .left {
      font-size: 14px;
      color: $bg-gray-7;
      display: flex;
      align-items: center;
    }
    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
      padding: 0 16px;
    }
  }
}
