@import "../components/variable.scss";
.FoodMenuPage {
  height: 100%;

  .webkit-height {
    height: 100%;
  }
  .search-container {
    display: flex;
    flex-basis: 100%;
    background: $bg-white;
    padding: $padding-3 $padding-4;
  }
  .content {
    height: 100%;
    position: relative;
    .FoodMenuListContainer {
      height: calc(100% - 136px);
    }
    .list-content {
      height: calc(100% - 56px);
    }
  }

  .fixed-header {
    z-index: 1;
    box-shadow: $bottom-shadow;
  }
  // .loader-container {
  //   position: absolute;
  //   z-index: 100;
  //   align-items: center;
  //   justify-content: center;
  //   display: flex;
  //   background: white;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;
  // }
  .restaurant-header-container {
    font-size: $font-size-4;
    display: flex;
    flex-basis: 100%;
    background: $bg-white;
    padding: 0 $padding-3;

    .restaurant-header {
      width: 80%;
    }

    .language-container {
      margin-left: auto;
      padding: 20px;
      align-self: center;
    }
  }
  .menu-list-container {
    // padding-top: 200px;
    // height: -webkit-fill-available;
    height: 100%;
    //height: inherit;
  }

  .cart-button {
    font-size: 24px;
    color: $bg-secondary;
    .MuiBadge-colorPrimary {
      background-color: $bg-primary;
      color: $color-white;
    }
  }
  .menu-status-filter {
    padding: 0px 12px 8px 12px;
    background: white;
    ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

#root,
#root > div {
  background-color: rgb(238, 238, 240);
}
