@import "../components/variable.scss";
.FoodOrderPage {
  background: $bg-white;

  .back-button {
    font-size: 20px;
    display: flex;
  }
  .v-container {
    display: flex;
    flex-direction: column;
  }
  .content {
  }
  .page-header-container {
    box-shadow: 0 3px 6px -6px grey;
    z-index: 100;
  }

  .order-container {
    padding: 0 $padding-5;
    height: calc(100% - 64px);
    position: relative;
  }

  .text-input-container {
  }
  .line {
    margin-top: $margin-2;
  }
  .send-order-container {
    display: flex;
  }
  .order-detail-container {
    display: flex;
    flex-direction: column;
  }

  .order-line-container {
    display: flex;
  }

  .order-total-cost-order {
    font-weight: 700;
    color: $color-black;
    font-size: $font-size-4;
  }
  .order-item-container {
    color: $color-black;
    font-size: $font-size-4;
  }
  .order-detail-cost-container {
    color: $color-gray;
    font-size: $font-size-3;
  }

  .empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-icon {
      font-size: 200px;
      opacity: 0.2;
      display: flex;
      justify-content: center;
    }
    &-header {
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: 800;
      padding: 16px;
    }
    &-detail {
      display: flex;
      justify-content: center;
      padding: 16px;
      text-align: center;
    }
    &-button {
      display: flex;
      justify-content: center;
      padding: 16px;
      .btn {
        font-size: 18px;
        padding: 12px;
      }
    }
  }
}
