@import "../components/variable.scss";
.FoodOrderFinishPage {
  background: $bg-white;

  .page-header-container {
    box-shadow: 0 3px 6px -6px grey;
    z-index: 1;
  }
  .PageHeader {
    justify-content: center;
    box-shadow: $bottom-shadow;
  }

  .h-container {
    display: flex;
    width: 100%;
    align-items: center;
    &.center {
      justify-content: center;
      align-self: center;
      justify-self: center;
    }
    .left {
    }
    .right {
      margin-left: auto;
    }
    &.left {
      justify-content: left;
    }
  }

  .v-container {
    display: flex;
    flex-direction: column;
  }

  .order-container {
    height: calc(100% - 52px);
  }
  .table-number-container {
    display: flex;
  }
  .text-input-container {
  }
  .line {
    margin-top: $margin-2;
  }
  .send-order-container {
    display: flex;
  }
  .order-detail-container {
    display: flex;
    flex-direction: column;
  }

  .order-line-container {
    display: flex;
  }

  .order-total-cost-order {
    font-weight: 700;
    color: $color-black;
    font-size: $font-size-4;
  }
  .order-item-container {
    color: $color-black;
    font-size: $font-size-4;
  }
  .order-detail-cost-container {
    color: $color-gray;
    font-size: $font-size-3;
  }
}
