@import "../components/variable.scss";
.FoodMenuAddPage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  overflow: hidden;
  // height: calc(var(--vh, 1vh) * 100);
  .image-container {
  }
  .menu-description {
    font-size: 14px;
    color: $bg-gray-7;
    text-align: center;
    justify-content: center;
    padding: 16px;
    align-self: center;
  }
  .menu-info-container {
    background-color: white;
    flex-shrink: 0;
    z-index: 10;
    box-shadow: $bottom-shadow;

    .header-container {
      display: flex;
    }
    .header {
      display: flex;
      font-size: 20px;
      font-weight: 700;
      padding: 8px 0;
    }
    .detail {
      display: flex;
      padding: 0px 16px 8px 36px;
      font-size: 14px;
      color: gray;
    }
  }

  .menu-item-list-container {
    background-color: $bg-gray-1;
    padding: 0 0;
    border-bottom: $border-light;
    flex-shrink: 1;
    height: calc(100vh - 180px);
    overflow: auto;
    .item-header-container {
      padding: 12px 0;
      padding-left: 24px;
      background: white;
      border-bottom: 1px solid #d8d4d4;
      font-weight: 500;
      color: gray;
    }
    .detail {
      display: flex;
      padding: 16px 16px 8px 12px;
      font-size: 14px;
      color: gray;
      background: white;
      white-space: pre-wrap;
    }
  }
  .image {
    padding: 0 $padding-2 0 0;
    width: 100%;
    height: 200px;
    &-container {
    }
  }
  .menu-add-actions-container {
    display: flex;
  }
  .menu-action-container {
    flex-shrink: 0;
    height: 108px;
    bottom: 0;
  }
  .menu-quantity-container {
    padding: 12px 0 4px 0;
    display: flex;
    justify-content: center;
    background-color: $bg-white;
    // flex-shrink: 0;
  }
  .button-container {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    background-color: $bg-white;
    & .big-button {
      font-size: 18px;
      padding: 12px;
    }
    & .full-width {
      width: 100%;
    }
    // flex-shrink: 0;
  }
}
