@import "../components/variable.scss";
.RestaurantHome {
  height: 100%;
  width: 100%;
  position: absolute;
  .logo {
    height: 100px;
    height: 100px;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .restaurant-name-container {
    font-size: 26px;
    color: $color-primary;
    font-weight: 700;
    text-align: center;
    justify-content: flex-end;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    padding: 24px;
    padding-bottom: 40px;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .btn {
      margin-top: 12px;
    }
  }
}

#root,
#root > div {
  background-color: rgb(238, 238, 240);
}
