@import "../variable.scss";

.FoodMenuListItem {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $bg-white;

  .list-item-container {
    display: flex;
    height: 100%;
    width: 100%;
    //border-bottom: $border-light;
    padding: $padding-3 0;
  }
  .header-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: $margin-2;
  }
  .v-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 0px $margin-2;
  }

  .image {
    padding: 0 $padding-2 0 0;
    width: 150px;
    height: 150px;
    &-container {
      .empty-image {
        width: 48px;
      }
    }
  }

  .header {
    color: black;
    font-weight: 700;
  }
  .cost {
    align-self: flex-end;
  }

  .detail {
    color: gray;
    font-size: $font-size-3;
    min-height: 20px;
    margin-bottom: $margin-2;
    white-space: pre-wrap;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: auto;
    padding-bottom: $padding-2;
    //padding-right: 8px;
  }

  .quantity-tag-container {
    position: relative;
    .quantity-triangle {
      position: absolute;
      //background-color: $color-primary;
      // padding: 4px;
      width: 0;
      height: 0;
      border-top: 32px solid $color-primary;
      border-right: 44px solid transparent;
    }

    .quantity-tag {
      position: absolute;
      padding: 2px 0 0 6px;
      color: $color-white;
      font-size: 12px;
      font-weight: 700;
    }
  }

  .quantity-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: auto;
    padding: $padding-2 0;
  }
  .add-to-basket {
    &-container {
      align-self: flex-end;
      margin-top: $margin-3;
      margin-bottom: $margin-2;
    }
  }
}
