@import "../variable.scss";
.FoodMenuListContainer {
  display: flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  .list-header {
    font-size: $font-size-4;
    color: $color-secondary;
    padding: $padding-6 0 $padding-3 $padding-3;
    font-weight: 700;
  }
  .list-content {
    overflow-y: scroll;
    overflow: scroll;
    overflow-x: hidden;
    > div:last-child {
      .FoodMenuList {
        padding-bottom: 24px;
      }
    }
  }
  .menu-category-filter {
    z-index: 1;
    box-shadow: 0 3px 6px -6px grey;
    padding: 0px 12px 8px 12px;
    background: white;
    ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
