@import "../variable.scss";

.FoodMenuList {
  padding: 0 $padding-3;
  background: $bg-white;
  & .FoodMenuListItem {
    & .list-item-container {
      border-bottom: $border-light;
    }
    &:last-child {
      .list-item-container {
        border-bottom: 0;
      }
    }
  }
}
