@import "./../variable.scss";
.ButtonList {
  .button-list-container {
    padding: 0 8px;
  }

  .button-item-container {
    padding: 12px;
    background: $bg-white;
    width: 150px;
    border: 1px solid $bg-gray-3;
    border-top: 0px solid $bg-gray-3;
    box-shadow: $box-shadow;
    font-weight: 600;
    &:last-child {
      border-radius: 0 0 8px 8px;
    }
    &.disable {
      color: #9c9a9a;
      font-weight: 400;
    }
  }
  .dropdown-menu {
    border-top: 1px solid $bg-gray-3;
    z-index: 1;
  }
}
