@import "../../variable.scss";

.KitchenOrder {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $bg-white;
  padding-top: 16px;

  .order-item-container {
    display: flex;
    height: 100%;
    width: 100%;
    //border-bottom: $border-light;
    padding: $padding-3 0;
  }

  .h-container {
    display: flex;
    width: 100%;
    align-items: center;
    &.center {
      justify-content: center;
      align-self: center;
      justify-self: center;
    }
    .left {
    }
    .right {
      margin-left: auto;
    }
    &.left {
      justify-content: left;
    }
  }
  .menu-item-container {
    border-top: $border-light-1;
    border-bottom: $border-light-1;
    padding: 8px;
    margin-top: 8px 0;
    color: rgb(29, 23, 23);
  }

  .list-item-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 16px;
    box-shadow: 0 8px 6px 2px #dcd9d9;
    margin: 16px 0;
    .order-item-contents {
      min-height: 52px;
      display: flex;
      align-items: center;
    }
  }
  .header-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: $margin-2;
  }
  .v-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 0px $margin-2;
  }

  .order-id {
    color: black;
    font-weight: 700;
  }
  .table {
    align-self: flex-end;
  }

  .order-notes-container {
  }

  .header {
    color: $color-gray;
    padding: 16px 0 8px 0;
    font-size: 14px;
  }
  span.header {
    color: $color-gray;
    padding: 8px 0 8px 0;
    font-size: 14px;
  }
  .detail {
    font-size: 14px;
    color: $color-black;
  }

  span.detail {
    font-size: 14px;
    color: $color-black;
    padding-left: 8px;
  }

  .btn {
    background-color: $bg-primary;
    border: none;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size-4;
    //margin: 2px;
    padding: $padding-2;
    cursor: pointer;
    border-radius: 6px;
  }
  .button-container {
    padding-top: 12px;
  }
  .order-status-container {
    .order-status-top {
      width: 30px;
      border-top: 4px solid #00c6b6;
    }
    .order-status {
      padding: 12px 0 12px 0;
    }
  }
}
