// Background colout
$bg-primary: #00c6b6;
$bg-secondary: #afb6b5;
$bg-light: #f7f6f6;
$bg-dark: black;
$bg-gray: gray;
$bg-white: white;
$bg-disabled: rgba(241, 240, 240, 0.952);

$bg-gray-1: #eceff1;
$bg-gray-2: #cfd8dc;
$bg-gray-3: #b0bec5;
$bg-gray-4: #90a4ae;
$bg-gray-5: #757575;
$bg-gray-6: #616161;
$bg-gray-7: #424242;
$bg-gray-y-1: #dcdcdc;
$color-disable: #afb6b5;

// colour
$color-primary: #00c6b6;
$color-white: white;
$color-secondary: #6b6d6e;
$color-black: black;
$color-gray: gray;
$color-error: red;

// Border
$border-color-gray-1: #d5e5eb;
$border-light: 1px $border-color-gray-1 solid;
$border-dark: 1px black solid;
$border-primary: 1px $bg-primary solid;
$bottom-shadow: 0 3px 6px -6px grey;
// Border

$border-light-1: 1px solid rgb(235, 230, 230);
$box-shadow: 0 8px 6px 2px #dcd9d9;

.border-1 {
  &-b {
    border-bottom: $border-light;
  }
}

// Font
$font-primary: "Roboto", sans-serif;
$font-size-1: 4px;
$font-size-2: 8px;
$font-size-3: 12px;
$font-size-4: 16px;

// Padding
$padding-1: 4px;
$padding-2: 8px;
$padding-3: 12px;
$padding-4: 16px;
$padding-5: 20px;
$padding-6: 24px;

.pd-1 {
  padding: $padding-1;
  &-t {
    padding-top: $padding-1;
  }
}
.pd-2 {
  padding: $padding-2;
  &-t {
    padding-top: $padding-2;
  }
  &-b {
    padding-bottom: $padding-2;
  }
  &-l {
    padding-left: $padding-2;
  }
}
.pd-3 {
  padding: $padding-3;
  &-t {
    padding-top: $padding-3;
  }
  &-l {
    padding-left: $padding-3;
  }
}
.pd-4 {
  padding: $padding-4;
  &-t {
    padding-top: $padding-4;
  }
}
.pd-5 {
  padding: $padding-5;
  &-t {
    padding-top: $padding-5;
  }
}

$margin-1: 4px;
$margin-2: 8px;
$margin-3: 12px;
$margin-4: 16px;
$margin-5: 20px;
$margin-6: 24px;

.mg-1 {
  margin: $margin-1;
  &-t {
    margin-top: $margin-1;
  }
}
.mg-2 {
  margin: $margin-2;
  &-t {
    margin-top: $margin-2;
  }
}
.mg-3 {
  margin: $margin-3;
  &-t {
    margin-top: $margin-3;
  }
  &-b {
    margin-bottom: $margin-2;
  }
}
.mg-4 {
  margin: $margin-4;
  &-t {
    margin-top: $margin-4;
  }
}
.mg-5 {
  margin: $margin-5;
  &-t {
    margin-top: $margin-5;
  }
}

.btn {
  background-color: $bg-primary;
  border: none;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: $padding-2;
  cursor: pointer;
  border-radius: 6px;
  min-width: 100px;
  &.link {
    font-size: 16px;
    background: transparent;
    text-decoration: underline;
    color: #00c6b6;
    font-weight: 600;
  }
  &.full-width {
    width: 100%;
  }
  &.back-button {
    padding-right: 16px;
    padding-left: 0;
  }
  &.big-button {
    font-size: 18px;
    padding: 12px;
  }

  &.normal {
    font-size: 14px;
  }
  &.disable {
    background-color: $bg-disabled;
    color: $bg-secondary;
  }
  & .full-width {
    width: 100%;
  }
  &.icon {
    color: $color-black;
    background-color: $bg-white;
    min-width: 0px;
    font-size: 24px;
    // color: $bg-secondary;
  }
  &.gray {
    background-color: $color-gray;
  }
  &.rounded-btn {
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    min-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
}
html {
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.root {
  overflow: hidden;
  height: 100%;
}

#root {
  //overflow: hidden;
  // height: -webkit-fill-available;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .center {
    align-self: center;
  }
}

.flex-content-scroll {
  flex-shrink: 1;
  overflow: scroll;
}
.flex-content-fixed {
  flex-shrink: 0;
}
.flex-v {
  display: flex;
  flex-direction: column;
  height: 100%;
}
