@import "../variable.scss";
.FoodOrderEdit {
  background: $bg-white;
  position: relative;
  .h-container {
    display: flex;
    width: 100%;
    align-items: center;
    &.center {
      justify-content: center;
      align-self: center;
      justify-self: center;
    }
    .left {
    }
    .right {
      margin-left: auto;
      padding-left: 8px;
    }
    &.left {
      justify-content: left;
    }
  }

  .v-container {
    display: flex;
    flex-direction: column;
  }
  .header {
    color: $color-gray;
    padding: 16px 0 8px 0;
    font-size: 14px;
  }
  span.header {
    color: $color-gray;
    padding: 8px 0 8px 0;
    font-size: 14px;
  }
  .detail {
    font-size: 14px;
    color: $color-black;
  }
  span.detail {
    font-size: 14px;
    color: $color-black;
    padding-left: 8px;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $bg-primary;
    border-width: 1px;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $bg-primary;
    border-width: 1px;
  }
  .MuiFormLabel-root.Mui-focused {
    color: $bg-primary;
  }
  .table-error-text {
    color: $color-error;
    font-size: 12px;
  }

  .input-error {
    & .MuiFormLabel-root {
      color: $color-error;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $color-error;
      border-width: 1px;
    }
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: $color-error;
      border-width: 1px;
    }
    .MuiFormLabel-root.Mui-focused {
      color: $color-error;
    }
    .MuiInput-underline:after {
      border-bottom: 2px solid $color-error;
    }

    & .MuiInput-underline:before {
      border-bottom: 2px solid $color-error;
    }
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $bg-primary;
    border-width: 1px;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $bg-primary;
    border-width: 1px;
  }
  .MuiFormLabel-root.Mui-focused {
    color: $bg-primary;
  }
  .MuiInput-underline:after {
    border-bottom: 2px solid $bg-primary;
  }
  .order-notes-container {
  }
  .table-number-container {
    display: flex;
    width: 50%;
  }
  .text-input-container {
  }
  .line {
    margin-top: $margin-2;
  }
  .send-order-container {
    display: flex;
    padding: 32px 0px;
    .btn {
      font-size: 16px;
      padding: 16px;
    }
    & .big-button {
      font-size: 18px;
      padding: 12px;
    }
    & .full-width {
      width: 100%;
    }
  }
  .order-detail-container {
    display: flex;
    flex-direction: column;
  }

  .order-line-container {
    display: flex;
  }

  .order-total-cost-order {
    font-weight: 700;
    color: $color-black;
    font-size: $font-size-4;
  }
  .order-item-container {
    color: $color-black;
    font-size: $font-size-4;
    padding: 12px 0;
    flex-direction: column;
  }
  .order-detail-cost-container {
    color: $color-gray;
    font-size: $font-size-3;
  }
}
