@import "../variable.scss";
.FoodOrderView {
  background: $bg-white;
  padding: 24px;
  .title {
    font-size: 20px;
    font-weight: 500;
    color: gray;
  }
  .sub-title {
    font-size: 16px;
    font-weight: 500;
    padding: 16px 0;
    color: $color-primary;
  }
  .h-container {
    display: flex;
    width: 100%;
    align-items: center;
    &.center {
      justify-content: center;
      align-self: center;
      justify-self: center;
    }
    .left {
    }
    .right {
      margin-left: auto;
    }
    &.left {
      justify-content: left;
    }
  }

  .v-container {
    display: flex;
    flex-direction: column;
  }
  .header {
    color: $color-gray;
    padding: 16px 0 8px 0;
    font-size: 14px;
  }
  span.header {
    color: $color-gray;
    padding: 8px 0 8px 0;
    font-size: 14px;
  }
  .detail {
    font-size: 14px;
    color: $color-black;
  }
  span.detail {
    font-size: 14px;
    color: $color-black;
    padding-left: 8px;
  }

  .order-container {
    margin: $margin-4;
    height: 100vh;
  }
  .table-number-container {
    display: flex;
  }
  .text-input-container {
  }
  .line {
    margin-top: $margin-2;
  }
  .send-order-container {
    display: flex;
  }
  .order-detail-container {
    display: flex;
    flex-direction: column;
  }

  .order-line-container {
    display: flex;
  }

  .order-total-cost-order {
    font-weight: 700;
    color: $color-black;
    font-size: $font-size-4;
  }
  .order-item-container {
    color: $color-black;
    font-size: $font-size-4;
    padding: 12px 0;
    flex-direction: column;
  }
  .order-detail-cost-container {
    color: $color-gray;
    font-size: $font-size-3;
  }
  .button-container {
    padding: 16px 0;
    flex-direction: column;
  }
}
