@import "../variable.scss";
.FoodQuantitySelector {
  .quantity-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: auto;

    &.s {
      .rounded-btn {
        font-weight: 700;
        font-size: 18px;
        background: $bg-white;
        color: $bg-primary;
      }
      .quantity {
        justify-self: center;
        align-self: center;
        padding: 0 6px;
        min-width: 24px;
        font-size: 14px;
        text-align: center;
      }
    }
    &.m {
      .rounded-btn {
        font-weight: 700;
        font-size: 18px;
        background: $bg-white;
        color: $bg-primary;
      }
      .quantity {
        justify-self: center;
        align-self: center;
        padding: 0 20px;
        min-width: 24px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .btn-container {
    display: flex;
    color: $bg-primary;
    font-size: 14px;
    align-items: center;

    &.disable {
      .filled {
        border: 2px solid $color-disable;
        background: $color-disable;
      }
    }
    .filled {
      border: 2px solid #00c6b6;
      border-radius: 50%;
      background: #00c6b6;
      color: white;
    }
  }

  .trash-container {
    display: flex;
    font-size: 14px;
  }
}
