@import "../variable.scss";
.OrderMenuItem {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;

  .order-menu-item-container {
    padding: 8px 0;
    .order-menu-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: flex-start;

      .menu-item-header {
        font-size: 14px;
      }
      .menu-item-detail {
        flex-wrap: wrap;
        padding-left: 8px;
        padding-top: 4px;
        font-size: 12px;
        white-space: pre-wrap;
      }
    }
  }
}
