@import "./../variable.scss";
.ErrorFallback {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background: $bg-white;
  .warning-text-container {
    font-size: $font-size-4;
    color: $bg-gray-7;
    .header {
      font-weight: 600;
    }
    .detail {
    }
  }
  &.error-container {
    position: sticky;
    z-index: 100;
    // align-items: center;
    // justify-content: center;
    display: flex;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // }
}
