@import "./../variable.scss";
.SelectMark {
  .check-mark {
    min-width: 16px;
    min-height: 16px;
    display: flex;
    align-items: center;
    color: $color-primary;
    &.border {
      border-radius: 20%;
      border: 2px solid $color-primary;
    }
    &.disable {
      border-color: $bg-gray-2;
      color: $bg-gray-1;
    }
  }
  .option-mark {
    min-width: 16px;
    min-height: 16px;
    display: flex;
    align-items: center;
    color: #00c6b6;
    justify-content: center;
    font-size: 12px;
    &.border {
      border-radius: 50%;
      border: 2px solid $color-primary;
    }
    &.disable {
      border-color: $bg-gray-2;
      color: $bg-gray-1;
    }
  }
}
