@import "../variable.scss";
.FoodQuantitySelector {
  .quantity-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: auto;
    //padding: 0px $padding-2 0 0;

    //margin: $margin-2;
  }
  .btn-container {
    display: flex;
    color: $bg-primary;
    font-size: 14px;
    align-items: center;
    .filled {
      border: 2px solid #00c6b6;
      border-radius: 50%;
      background: #00c6b6;
      color: white;
    }
  }

  .trash-container {
    display: flex;
    font-size: 14px;
  }
  .s {
    .rounded-btn {
      font-weight: 700;
      font-size: 18px;
      background: $bg-white;
      color: $bg-primary;
    }
    .quantity {
      justify-self: center;
      align-self: center;
      padding: 0 6px;
      min-width: 24px;
      font-size: 14px;
      text-align: center;
    }
  }

  .m {
    .rounded-btn {
      font-weight: 700;
      font-size: 18px;
      background: $bg-white;
      color: $bg-primary;
    }
    .quantity {
      justify-self: center;
      align-self: center;
      padding: 0 6px;
      min-width: 68px;
      font-size: 16px;
      text-align: center;
    }
  }
}
